<h1>Orders</h1>

<table class="table table-hover centered-table">
  <thead class="thead-default">
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.surname %></td>
        <td><%= order.phone %></td>
        <td><%= order.user.email %></td>
        <td class="small-col">
          <div class="actions btn-group-xs">
            <%= link_to 'Show', order, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_order_path(order), class: 'btn btn-primary' %>
            <%= link_to 'Remove', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>