<h1>Order</h1>
<div class="row">
  <div class="col-lg-8 col-md-9 col-sm-10 col-xs-12">
    <ul class="list-group">
      <li class="list-group-item">
        <strong>Name:</strong>
        <%= @order.name %>
      </li>
      <li class="list-group-item">
        <strong>Surname:</strong>
        <%= @order.surname %>
      </li>
      <li class="list-group-item">
        <strong>Email:</strong>
        <%= @order.user.email %>
      </li>
      <li class="list-group-item">
        <strong>Address:</strong>
        <%= @order.address %>
      </li>
      <li class="list-group-item">
        <strong>Phone:</strong>
        <%= @order.phone %>
      </li>
      <li class="list-group-item">
        <strong>Card no:</strong>
        <%= @order.card_no %>
      </li>
      <li class="list-group-item">
        <strong>Card type:</strong>
        <%= @order.card_type %>
      </li>
      <li class="list-group-item">
        <strong>Expire:</strong>
        <% if @order.expire_month && @order.expire_year %>
          <%= '%02d' % @order.expire_month %> / <%= '%02d' % @order.expire_year %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
<%= link_to 'Show', @order, class: 'btn btn-default' %>
<%= link_to 'Back', orders_path, class: 'btn btn-default' %>
