<h1>All Products</h1>

<div class="right-btn-block">
  <%= link_to 'Add Product', new_product_path, class: 'btn btn-success' %>
</div>

<table class="table table-hover centered-table">
  <thead class="thead-default">
  <tr>
    <th>Article</th>
    <th class="align-left">Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.article %></td>
        <td class="align-left"><%= product.name %></td>
        <td><%= number_to_euro product.price %></td>
        <td><%= product.category.name %></td>
        <td class="small-col">
          <div class="btn-group-xs actions">
            <%= link_to 'Show', product, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-primary' %>
            <%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>