<div class="row">
  <div class="col-xs-12 col-md-5 col-lg-5">
    <div class="thumbnail-container">
      <div class="thumbnail">
        <%= image_tag @product.main_image, id: 'main_image' %>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-7 col-lg-7">
    <div id="product_info">
      <h1><%= @product.name %></h1>
      <div class="field">
        <strong>Article:</strong>
        <%= @product.article %>
      </div>
      <div class="field">
        <strong>Price:</strong>
        <%= number_to_currency @product.price %>
      </div>
      <div class="actions">
        <%= form_for :product, url: add_product_path, html: { class: '' } do |f| %>
            <%= f.hidden_field :id %>
            <div class="field">
              <strong>Amount:</strong>
              <%= number_field_tag 'product[amount]', '1', min: 1, class: 'form-control', required: true %>
            </div>
            <div class="field">
              <%= f.submit 'Add to cart', class: 'btn btn-primary btn-block' %>
            </div>
        <% end %>
        <div class="field">
          <%= link_to 'Continue buying', category_path(@product.category), class: 'btn btn-default btn-block' %>
        </div>
        <div class="field">
          <%= link_to 'Finish', cart_path, class: 'btn btn-success btn-block' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <% @product_attachment.each do |p| %>
          <div class="col-xs-6 col-md-4 col-lg-3">
            <div class="thumbnail-container">
              <div class="thumbnail fixed-height clickable">
                <%= image_tag p.image.url(:preview), onclick: "changeImage('image_#{p.id}')", id: "image_#{p.id}", class: 'img-preview' %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

