<!DOCTYPE html>
<html>
<head>
  <title>MuiscaStore</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <header>
    <a href="<%= cart_path %>" class="btn btn-default pull-right" aria-label="Left Align">
      <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
      <span>Cart</span>
      <span class="label label-info"><%= cart_products_count %></span>
    </a>
    <a href="/">
      <h1>Mole Jewelery</h1>
    </a>
  </header>

  <% if notice %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>

  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><strong>Menu</strong></h3>
        </div>
        <div id="menu" class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Manage categories', categories_path %></li>
            <li><%= link_to 'Manage products', products_path %></li>
          </ul>
          <hr>
          <ul class="nav nav-pills nav-stacked">
            <% categories.each do |category| %>
              <li>
                <%= link_to category.name, category_path(category) %>
              </li>
            <% end %>
          </ul>
          <hr>
          <ul id="additional" class="nav nav-pills nav-stacked">
            <% if buyer_signed_in? %>
              <li><%= link_to 'Logout', destroy_buyer_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Register', new_registration_path %></li>
              <li><%= link_to 'Login', new_buyer_session_path %></li>
            <% end %>
            <li><%= link_to 'About us', about_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
